 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
 </head>
 <body>
   <div id="main">
    <h1>Cretae Account</h1>
    
      <form action="/create" method="post">
        <input type="url" placeholder="image" name="image" >
         <input type="text" placeholder="username" name="username">
         <input type="text" placeholder="age" name="age">
         <input type="text" placeholder="contact" name="contact">
         <input type="text" placeholder="about" name="about">
          <input id="btn" type="submit"  value="submit">
       </form>
    
   </div>
 </body>
 </html>